body {
    
}

.title-box {
    z-index: 0;
    position: relative;
}

.title {
    color: white;
    z-index: 99;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.explore {
    z-index: 99;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 18rem;
    margin-left: 3.15rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    display: inline-block;
}

.card-row{
    display:block;
    margin-top: 6rem;
}

.gallery-33 {
    width: 33.3%;
}

.gallery-50{
    width: 50%;
}

#title-image {
    width:100%;
    z-index: 0;
}

@media only screen and (max-width: 800px){
    .explore {
        top: 63%;
    }
    .title {
        top: 20%;
    }
}

@media only screen and (max-width: 500px){
    .explore {
        top: 43%;
    }
    .card {
        width: 100%;
    }
}