
/*Homepage styling */

.title-box {
    z-index: 0;
    position: relative;
}

.title {
    color: white;
    z-index: 99;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
}

.explore {
    z-index: 99;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 18rem;
    margin-left: 3.15rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
    display: inline-block;
}

.card-row{
    display:block;
    margin-top: 6rem;
}

.gallery-33 {
    width: 33.3%;
}

.gallery-50{
    width: 50%;
}

#title-image {
    width:100%;
    z-index: 0;
}

/* Japan classes Styling */
.image-container-33{
    float: left;
    width: 33.3%;
    height: 338px;
    position: relative;
    cursor: pointer;
}

.image-container-33 img {
    position: absolute;
    width: 100%;
}

.image-container-25{
    float: left;
    width: 25%;
    height: 252px;
    position: relative;
    cursor: pointer;
}

.image-container-25 img {
    position: absolute;
    width: 100%;
}

.image-container-50{
    float: left;
    width: 50%;
    height: 500px;
    position: relative;
    cursor: pointer;
}

.image-container-50 img {
    position: absolute;
    width: 100%;
}

.image-caption div {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
}

.image-caption {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
}

.image-caption p {
    color: white;
    text-align: center;
    padding-top: 4rem;
    font-size: 2rem;
}

.image-container-33:hover .image-caption {
    opacity: 1;
}


.image-container-50:hover .image-caption {
    opacity: 1;
}

.image-container-25:hover .image-caption {
    opacity: 1;
}

.title-japan {
    text-align: center;
}

/* Media Queries*/
@media only screen and (max-width: 1000px){

    .image-container-33{
        height: 200px;
    }
}

@media only screen and (max-width: 800px){
    .explore {
        top: 63%;
    }
    .title {
        top: 20%;
    }
    .image-container-33{
        height: 165px;
    }
    .image-container-50{
        height: 250px;
    }
    .image-container-25{
        height: 125px;
    }
}

@media only screen and (max-width: 500px){
    .explore {
        top: 43%;
    }
    .card {
        width: 100%;
    }

    .image-container-33{
        height: 100px;
    }
}
